{% extends 'base.html.twig' %}

{% block title %}Edit Store{% endblock %}

{% block body %}
    <h1>Edit Store</h1>

    {{ include('store/_form.html.twig', {
        button_label: 'Update store',
        cancel_label: 'Back to list'|trans,
        cancel_url: path('store_index', {account: account.id}),
        }) }}
{% endblock %}
