{% macro account_home(account) %}
    {% if account %}
        <a class="link-unstyled" href="{{ path('account_show', {account: account.id}) }}">{{ 'Account'|trans }}</a>
        »
    {% endif %}
{% endmacro %}
