{% extends 'base.html.twig' %}

{% block body %}
    <div class="header text-center">
        <h1>{{ 'No network connection'|trans }}</h1>
        <p class="lead">{{ 'Check your device network connection and try again'|trans }}</p>
    </div>
    <div class="text-center">
        <i class="fas fa-wifi fa-3x"></i>
        <p>{{ 'Offline'|trans }}</p>
    </div>
{% endblock %}
